@import url(http://fonts.googleapis.com/css?family=Droid+Serif|Yanone+Kaffeesatz);

body { font-family: 'Droid Serif', 'Microsoft Yahei'; }
h1, h2, h3 {
font-family: 'Yanone Kaffeesatz', 'Microsoft Yahei';
font-weight: 400;
margin-bottom: 0;
margin-top: 10px;
}
h1 { font-size: 3.5em; }
h2 { font-size: 2.5em; }
h3 { font-size: 1.6em; }
.inverse {
background: #272822;
color: #777872;
text-shadow: 0 0 20px #333;
}
.inverse h1, .inverse h2 {
color: #f3f3f3;
line-height: 0.8em;
}
iframe { margin: 0; padding: 0; border: 0; }
.remark-slide-content {
padding: 0em 2em 1em 2em !important;
}
pre {
/* border-left: 0.4em solid #d7d7d7; */
padding: 0em 0.2em !important;
margin: 1em 0.5em !important;
overflow-y: auto;
max-height: 520px;
overflow-x: hidden;
-webkit-border-radius: 10px;
border-radius: 10px;
}
pre code {
font-size: 24px;
line-height: 1em;
}
code.has-jax {font: inherit; font-size: 100%; background: inherit; border: inherit;}
pre code .comment { color: #66FF00 !important; }
code {
/* background: transparent !important; */
font-family: 'Monaco', 'Menlo', 'Ubuntu Mono', 'Consolas', 'source-code-pro', 'monospace', 'Microsoft Yahei';        
border-radius: 6px;
text-align: left;
line-height: 1.8em;
padding: 2px 4px;
color: #d14;
background-color: #f7f7f9;
border: 1px solid #e1e1e8;
}
a {
color: #F92672;
text-decoration: none;
}
.task {
float: right;
font-size: 0.9em;
padding-top: 0.6em;
}
.task a {
color: #080;
text-decoration: none;
}
.right {
margin-left: 1em;
}
.pushdown {
margin-top: 12em;
}
.red { color: #F00; }
.footnote { right: 10px; position: absolute; bottom: 10px; }
.remark-position {display:none}
      
blockquote {
border-left: 4px solid #DDD;
padding: 0 15px;
color: #777;
}
      
.ppt-table {  
border: solid #ccc 1px;  
-moz-border-radius: 6px;  
-webkit-border-radius: 6px;  
border-radius: 6px;  
-webkit-box-shadow: 0 1px 1px #ccc;  
-moz-box-shadow: 0 1px 1px #ccc;  
box-shadow: 0 1px 1px #ccc;  
background-color: #f1f1f1;
margin-left:0px;
font-size:27px;
}  
  
.ppt-table tr:hover {  
background: #fff09c;  
-o-transition: all 0.1s ease-in-out;  
-webkit-transition: all 0.1s ease-in-out;  
-moz-transition: all 0.1s ease-in-out;  
-ms-transition: all 0.1s ease-in-out;  
transition: all 0.1s ease-in-out;  
}  
  
.ppt-table td, .ppt-table th {  
border-right: 1px solid #ccc;  
border-top: 1px solid #ccc;  
padding: 3px 10px;
text-align: left;
}  
  
.ppt-table th {  
background-color: #dce9f9;  
background-image: -webkit-gradient(linear, left top, left bottom, from(#ebf3fc), to(#dce9f9));  
background-image: -webkit-linear-gradient(top, #ebf3fc, #dce9f9);  
background-image: -moz-linear-gradient(top, #ebf3fc, #dce9f9);  
background-image: -ms-linear-gradient(top, #ebf3fc, #dce9f9);  
background-image: -o-linear-gradient(top, #ebf3fc, #dce9f9);  
background-image: linear-gradient(top, #ebf3fc, #dce9f9);  
-webkit-box-shadow: 0 1px 0 rgba(255,255,255,.8) inset;  
-moz-box-shadow:0 1px 0 rgba(255,255,255,.8) inset;  
box-shadow: 0 1px 0 rgba(255,255,255,.8) inset;  
border-top: none;  
text-shadow: 0 1px 0 rgba(255,255,255,.5);  
}  
  
.ppt-table td:first-child, .ppt-table th:first-child {  
border-left: none;  
}  
  
.ppt-table th:first-child {  
-moz-border-radius: 6px 0 0 0;  
-webkit-border-radius: 6px 0 0 0;  
border-radius: 6px 0 0 0;  
}  
  
.ppt-table th:last-child {  
-moz-border-radius: 0 6px 0 0;  
-webkit-border-radius: 0 6px 0 0;  
border-radius: 0 6px 0 0;  
}  
  
.ppt-table th:only-child{  
-moz-border-radius: 6px 6px 0 0;  
-webkit-border-radius: 6px 6px 0 0;  
border-radius: 6px 6px 0 0;  
}  
  
.ppt-table tr:last-child td:first-child {  
-moz-border-radius: 0 0 0 6px;  
-webkit-border-radius: 0 0 0 6px;  
border-radius: 0 0 0 6px;  
}  
  
.ppt-table tr:last-child td:last-child {  
-moz-border-radius: 0 0 6px 0;  
-webkit-border-radius: 0 0 6px 0;  
border-radius: 0 0 6px 0;  
}

::-webkit-scrollbar {
    width: 5px;
    height: 4px;
}
::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3); 
    -webkit-border-radius: 10px;
    border-radius: 10px;
}
::-webkit-scrollbar-thumb {
    -webkit-border-radius: 10px;
    border-radius: 10px;
    background: rgba(39,40,34,0.8); 
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5); 
}
::-webkit-scrollbar-thumb:window-inactive {
    background: rgba(39,40,34,0.4); 
}

